<style type="text/css">
    .rpt-table
    {
        font-size: 10pt;
        font-family: sans-serif;
        height: 15px;
    }

    .rpt-bold
    {
        font-weight: bold;
    }

    .rpt-hr
    {
        border-bottom: 1px solid black;
    }

    .rpt-border-top
    {
        border-top: 1px solid black;
    }

    .rpt-first-cell
    {
        border-left: 1px solid black;
        width: 35px;
    }

    .rpt-second-cell
    {
        border-right: 1px solid black;
        width: 35px;
        text-align: left;
    }
</style>

<table class="rpt-table">
    <tbody>
        <tr class="rpt-border-top">
            <td class="rpt-first-cell rpt-table">Created by:</td>
            <td class="rpt-second-cell">CreateBy</td>
        </tr>
        <tr>
            <td class="rpt-first-cell rpt-hr"></td>
            <td class="rpt-second-cell rpt-hr"></td>
        </tr>

        <tr>
            <td class="rpt-bold rpt-first-cell">Research Provider/payment receiver</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell"></td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Name, street</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">ReceiverStreet</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">City</td>
            <td class="rpt-second-cell">Zip</td>
        </tr>
        <tr>
            <td class="rpt-first-cell">ReceiverCity</td>
            <td class="rpt-second-cell">ReceiverZip</td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Country</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">ReceiverCountry</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell rpt-hr"></td>
            <td class="rpt-second-cell rpt-hr"></td>
        </tr>

        <tr>
            <td class="rpt-bold rpt-first-cell">Receiving Bank</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell"></td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">IBAN/Account</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Iban</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">BIC</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Bic</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Countrycode Receiving Bank</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">CountryCode</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell rpt-hr"></td>
            <td class="rpt-second-cell rpt-hr"></td>
        </tr>

        <tr>
            <td class="rpt-first-cell">Currency</td>
            <td class="rpt-second-cell">Amount</td>
        </tr>
        <tr>
            <td class="rpt-first-cell">CurrencyCode</td>
            <td class="rpt-second-cell">Amount</td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Payment Code</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">PaymentCode</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell"></td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Payment date</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Date</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Own Reference</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">OwnReference</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell rpt-hr"></td>
            <td class="rpt-second-cell rpt-hr"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell"></td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Payment</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">PaymentType</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Division of fees</td>
            <td class="rpt-second-cell">DivisionOfFees</td>
        </tr>
        <tr>
            <td class="rpt-first-cell"></td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell">Message to receiver</td>
            <td class="rpt-second-cell"></td>
        </tr>
        <tr>
            <td class="rpt-first-cell rpt-hr rpt-border-bottom">SourceNote</td>
            <td class="rpt-second-cell rpt-hr rpt-border-bottom"></td>
        </tr>
    </tbody>
</table>
