<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <add key="TeamCity" value="http://teamcity.investarspolaris.com:8080/httpAuth/app/nuget/v1/FeedService.svc" />
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="TeamcityAuth" value="http://teamcity.investarspolaris.com:8080/httpAuth/app/nuget/v1/FeedService.svc" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials>
    <TeamcityAuth>
      <add key="Username" value="UserName" />
      <add key="Password" value="<Some Encrypted Value using nuget encryption Logic>" />
    </TeamcityAuth>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="TeamcityAuth" value="http://teamcity.investarspolaris.com:8080/httpAuth/app/nuget/v1/FeedService.svc" />
  </activePackageSource>
</configuration>